#blur{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
}

#boardWindow, #taskWindow, #deleteWindow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--barMain);
    color: var(--titleColor);
    padding: 40px;
    border-radius: 10px;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    transition-duration: 0.3s;
}

#boardWindow .title, #taskWindow .title, #deleteWindow .title{
    font-size: 23px;
    margin-bottom: 25px;
}

#boardWindow .subtitle, #taskWindow .subtitle, #deleteWindow .subtitle{
    font-size: 15px;
    margin-bottom: 10px;
}

/* Występuje niespójność klas - do rozwiązania */
#boardWindow .column, #taskWindow .column, #taskWindow .subtask{
    width: 350px;
    margin-bottom: 10px;
}

#boardWindow .input, #taskWindow .input{
    position: relative;
    width: 100%;
}

#boardWindow input, #taskWindow input, #taskWindow textarea{
    width: 100%;
    padding: 9px 10px;
    font-size: 15px;
    background-color: var(--barMain);
    color: var(--titleColor);
    border: solid var(--border) 1px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    font-weight: normal;
    transition-duration: 0.3s;
}

#boardWindow input:focus, #taskWindow input:focus, #taskWindow textarea:focus{
    border-color: #635FC7;
}

#boardWindow #columns .column, #taskWindow #subtasks .subtask{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#boardWindow #columns .column input, #taskWindow #subtasks .subtask input{
    width: calc(100% - 10px);
}

#boardWindow #columns .column .errorText, #taskWindow #subtasks .subtask .errorText{
    right: 20px;
}

#boardWindow #columns .column svg:hover > g, #taskWindow #subtasks .subtask svg:hover > g{
    fill: #EA5555;
}

#boardWindow #columns .column svg, #taskWindow #subtasks .subtask svg{
    cursor: pointer;
}

#boardWindow button, #taskWindow button{
    width: 350px;
    padding: 10px 0;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

#boardWindow #addNewColumn, #taskWindow #addNewSubtask{
    background-color: var(--boardHoverBg);
    color: #635FC7;
    margin-bottom: 10px;
    transition-duration: 0.3s;
}

#boardWindow #createNewBoard, #taskWindow #createTask{
    background-color: #635FC7;
    color: #FFF;
}

#taskWindow #status{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: solid var(--border) 1px;
    border-radius: 5px;
    padding: 9px 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition-duration: 0.3s;
}

#taskWindow #status .input{
    font-size: 15px;
    font-weight: normal;
}

#taskWindow .input textarea{
    resize: none;
}

#taskWindow #statusList{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: var(--main);
    border-radius: 8px;
}

#taskWindow #statusList .listColumn{
    padding: 10px;
    font-weight: normal;
    color: #828FA3;
    cursor: pointer;
    transition-duration: 0.3s;
}

#taskWindow #statusList .listColumn:hover{
    color: #635FC7;
}

#deleteWindow .title{
    color: #EA5555;
}

#deleteWindow .subtitle{
    font-weight: normal;
    color: #828FA3;
}

#deleteWindow .buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#deleteWindow button{
    width: calc(50% - 10px);
    padding: 15px 0;
    font-size: 17px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#deleteWindow #deleteWindowDelete{
    background-color: #EA5555;
    color: #FFF;
}

#deleteWindow #deleteWindowCancel{
    color: #635FC7;
    background-color: var(--boardHoverBg);
}

.error{
    border-color: #EA5555 !important;
}

.error + .errorText{
    display: block;
    opacity: 1;
}

.errorText{
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 13px;
    font-weight: normal;
    color: #EA5555;
    opacity: 0;
    transition-duration: 0.3s;
}